.auth-dialog
  background-color: #ffffff
  margin-top: 45px
  margin-bottom: 45px
  padding: 50px
  border-radius: 4px
  box-shadow: 12px 12px 10px rgba(#000000, 0.5)

.authentication-form
  margin-top: 30px
  margin-bottom: 30px

.auth-dialog-header
  margin-bottom: 30px
  font-weight: bold

p
  margin-bottom: 0px
  font-size: 15px
