<div class="row">
  <div class="col-lg-6">
    <div class="pm-block blue">
      <div class="pm-block-header">Your projects</div>
      <div class="pm-block-content">
        <div class="row" *ngFor="let project of projectsList; let last = last">
          <div class="col-8">
            <a [routerLink]="['/projects/', project.id]">
              {{ project.name }}
            </a>
          </div>
          <div class="col-4 text-right">
            <a [routerLink]="['/projects/', project.id, 'edit']" class="project-list-link">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
            <a [routerLink]="['/projects/', project.id]" class="project-list-link">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-12">
            <hr *ngIf="!last" />
          </div>
        </div>
      </div>
      <div class="pm-block-footer text-right">
        <a routerLink="/projects/new" class="btn btn-sm pm-success-btn">
          New project
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="pm-block blue">
      <div class="pm-block-header">Projects assigned to you</div>
      <div class="pm-block-content">
        There is some content. It should be displeayed under title inside pm-block element.
      </div>
    </div>
  </div>
</div>
