<div id="wrapper" [ngClass]="{'toggled': showNavigation }">
  <app-nav></app-nav>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacinia, urna quis dignissim dapibus, dolor odio facilisis risus,
            vel finibus quam velit nec ex. Etiam vehicula risus ut diam faucibus, quis convallis eros hendrerit.
            Duis viverra et mi ut consectetur. Fusce molestie arcu massa, ac venenatis lectus luctus quis. Fusce ut
            finibus enim. Mauris sodales sed est ac convallis. Duis in massa vitae purus eleifend consectetur a id
            felis. Vestibulum nec tortor neque. Fusce sed massa a lorem viverra bibendum id interdum odio. Curabitur
            hendrerit, ligula at maximus malesuada, erat orci pellentesque leo, in porttitor nibh leo et nulla. Cras
            facilisis in risus nec condimentum.
          </p>
          <p>
            Nam lacinia ante ac porta tincidunt. Pellentesque dictum ut lacus quis consectetur. Nulla risus
            erat, commodo id sem in, sodales luctus mauris. Vivamus aliquet nisi leo, non dignissim diam
            rhoncus euismod. Cras vehicula, ex in dignissim cursus, quam augue vehicula metus, in ullamcorper
            elit justo aliquet felis. Quisque pretium dapibus vehicula. Proin feugiat efficitur dolor, vel eleifend erat.
            Nulla sodales pellentesque dui, vel maximus dolor blandit vel. Cras malesuada leo in viverra commodo. Pellentesque
            ut urna eleifend, vestibulum tortor id, varius magna. Quisque tellus velit, ultrices in ultricies faucibus,
            porta eu augue. Pellentesque eleifend velit at sapien vulputate ullamcorper. Suspendisse quis augue gravida
            quam venenatis ultrices quis in eros. Duis convallis lorem ornare magna vulputate dapibus.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
